.f/uploads/metadata/0001.data.json
f/uploads/metadata/a.zip.json
f/uploads/metadata/file.json
f/uploads/metadata/test (1).txt.json
f/uploads/metadata/test.txt.json
f/uploads/0001.data
f/uploads/a.zip
f/uploads/file
f/uploads/test (1).txt
f/uploads/test.txt
a/video
.vscode/settings.json
f/a/0001.data
f/a/file
f/uploads/metadata/0001.data.json
a/music/六年级 (U1-U2).MP3

f/de.lock
f/uploads
f/n.py
f/n.txt
f/uploads/s.txt
f/app.log

f/user.pkl
f/s.key

f/tool/__pycache__/*
totp/key


new2/__pycache__/ls.cpython-313.pyc
f/l.py
as.py
tui/__pycache__/a.cpython-313.pyc
test/
a.log
f/__pycache__/app.cpython-313.pyc
.idea/k.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
f/s.py
f/__pycache__/app.cpython-312.pyc

a.txt
f/__pycache__/file_rw.cpython-313.pyc
.gitignore
error
f/trash/de.lock
f/trash/ee4f0754795b42c189de6618d85f1449
