.f/uploads/metadata/0001.data.json
f/uploads/metadata/a.zip.json
f/uploads/metadata/file.json
f/uploads/metadata/test (1).txt.json
f/uploads/metadata/test.txt.json
f/uploads/0001.data
f/uploads/a.zip
f/uploads/file
f/uploads/test (1).txt
f/uploads/test.txt
a/video
.vscode/settings.json
f/a/0001.data
f/a/file
f/uploads/metadata/0001.data.json
a/music/六年级 (U1-U2).MP3
new2/__pycache__/ls.cpython-313.pyc

f/de.lock

f/uploads
f/n.py
f/n.txt
f/uploads/s.txt
f/app.log
f/tool/__pycache__/__init__.cpython-313.pyc
f/tool/__pycache__
f/tool/__pycache__/u1.cpython-313.pyc
