.新建文件夹/uploads/metadata/0001.data.json
新建文件夹/uploads/metadata/a.zip.json
新建文件夹/uploads/metadata/file.json
新建文件夹/uploads/metadata/test (1).txt.json
新建文件夹/uploads/metadata/test.txt.json
新建文件夹/uploads/0001.data
新建文件夹/uploads/a.zip
新建文件夹/uploads/file
新建文件夹/uploads/test (1).txt
新建文件夹/uploads/test.txt
a/video
.vscode/settings.json
新建文件夹/a/0001.data
新建文件夹/a/file
新建文件夹/uploads/metadata/0001.data.json
a/music/六年级 (U1-U2).MP3
new2/__pycache__/ls.cpython-313.pyc

新建文件夹/de.lock
新建文件夹/app.log
新建文件夹/app.log
新建文件夹/uploads/DLGC.zip
